@use "colors";

.btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: colors.$white;
    cursor: pointer;

    @media (max-width: 783px) {
        font-size: 16px;
    }

    &--primary {
        padding: 18px 32px 17px;
        border-radius: 31.5px;
        background-image: colors.$primary-gradient;

        @media (max-width: 783px) {
            padding: 14px 38px;
        }

        &:hover {
            background-image: colors.$primary-gradient-hover;
        }
    }
    &--secondary {
        padding: 14px 32px;
        border-radius: 28px;
        background-color: colors.$quite-black;

        @media (max-width: 783px) {
            padding: 9px 24px 11px;
        }

        &:hover {
            background-color: colors.$violet;
        }
        &.dark-background {
            background-image: colors.$secondary-gradient;
            &:hover {
                background-image: colors.$secondary-gradient-hover;
            }
        }
    }
}
