@use "colors";

.logo {
    width: 112px;
    height: 32px;

    @media (max-width: 960px) {
        width: 88px;
        height: 25px;
    }

    &--dark {
        color: colors.$quite-black;
    }
    &--light {
        color: colors.$white;
    }
}
