.header {
    padding: 24px 0;
    width: 100%;

    @media (max-width: 480px) {
        padding: 16px 0;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
