@use "../colors";

.hero {
    margin-bottom: 133px;

    @media (max-width: 960px) {
        margin-bottom: 161px;
    }

    @media (max-width: 680px) {
        margin-bottom: 90px;
    }

    &__wrapper {
        margin-top: 63px;
        display: flex;
        align-items: flex-start;

        @media (max-width: 960px) {
            margin-top: 25px;
        }

        @media (max-width: 680px) {
            flex-direction: column;
            align-items: stretch;
            margin-top: 22px;
            gap: 70px;
        }
    }

    &__image-wrapper {
        background-image: colors.$primary-gradient;
        border-radius: 158px;
        width: 317px;
        height: 560px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 960px) {
            width: 216px;
            height: 382px;
        }
        @media (max-width: 680px) {
            width: 67.5vw;
            height: 67.5vw;
            border-radius: 50%;
            margin: 0 auto;
        }
    }

    &__promo {
        margin-right: 54px;
        position: relative;

        @media (max-width: 960px) {
            margin-right: 41px;
        }

        @media (max-width: 680px) {
            margin-right: 0;
        }
        &::after {
            content: "";
            position: absolute;
            width: 317px;
            height: 1008px;
            z-index: -1;
            transform: rotate(45deg);
            bottom: -99px;
            left: 245px;
            border-radius: 158px;
            background-image: colors.$secondary-gradient;

            @media (max-width: 960px) {
                width: 216px;
                height: 688px;
                bottom: -69px;
                left: 167px;
            }
            @media (max-width: 680px) {
                display: none;
            }
        }
    }

    &__image {
        max-width: initial;
        width: 318px;
        padding-top: 78px;

        @media (max-width: 960px) {
            width: 217px;
            padding-top: 54px;
        }
        @media (max-width: 680px) {
            width: 57vw;
            padding-top: 105px;
            margin-left: 22px;
        }
    }

    &__statistics {
        position: absolute;
        padding: 20px 72px 19px 24px;
        background-color: colors.$white;
        border-radius: 15px;
        box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);

        @media (max-width: 960px) {
            padding: 16px 45px 16px 20px;
            border-radius: 10px;
        }

        &--left {
            bottom: 99px;
            left: -38%;
            @media (max-width: 960px) {
                bottom: -38px;
                left: -21%;
            }
            @media (max-width: 680px) {
                bottom: -25px;
                left: 2.5%;
            }
        }

        &--right {
            right: -37%;
            top: 103px;
            padding-right: 57px;

            @media (max-width: 960px) {
                right: -23.6%;
                top: -14px;
                padding-right: 20px;
            }

            @media (max-width: 680px) {
                right: 3%;
                top: -23px;
            }
        }
    }

    &__statistics-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.75;
        margin-bottom: 2px;

        @media (max-width: 960px) {
            font-size: 14px;
            line-height: 2;
            margin-bottom: 0;
        }
    }

    &__statistics-data {
        font-weight: 800;
        font-size: 40px;
        line-height: 1.25;
        color: colors.$quite-black;

        @media (max-width: 960px) {
            font-size: 32px;
            line-height: 1.25;
        }
    }

    &__title {
        font-size: 56px;
        line-height: 1.268;
        color: colors.$quite-black;
        width: 80%;
        margin-top: 85px;
        padding-bottom: 29px;
        letter-spacing: 0.006em;

        @media (max-width: 960px) {
            font-size: 40px;
            line-height: 1.25;
            width: 80%;
            margin-top: 49px;
            padding-bottom: 26px;
        }

        @media (max-width: 680px) {
            font-size: 40px;
            line-height: 1.25;
            width: 100%;
            padding-bottom: 26px;
            margin-top: 0;
        }
    }

    &__description {
        width: 445px;
        padding-bottom: 40px;
        width: 60%;

        @media (max-width: 960px) {
            width: 87%;
            padding-bottom: 24px;
        }

        @media (max-width: 680px) {
            width: 95%;
        }
    }
}
