@use "../colors";

.hero {
    margin-bottom: 133px;

    @media (max-width: 960px) {
        margin-bottom: 161px;
    }

    @media (max-width: 480px) {
    }

    &__wrapper {
        margin-top: 25px;
        display: flex;
        align-items: flex-start;
    }

    &__image-wrapper {
        background-image: colors.$primary-gradient;
        border-radius: 158px;
        width: 317px;
        height: 560px;
        overflow: hidden;
        @media (max-width: 960px) {
            width: 216px;
            height: 382px;
        }
    }

    &__promo {
        margin-right: 41px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 317px;
            height: 1008px;
            z-index: -1;
            transform: rotate(45deg);
            bottom: -99px;
            left: 245px;
            border-radius: 158px;
            background-image: colors.$secondary-gradient;

            @media (max-width: 960px) {
                width: 216px;
                height: 688px;
                bottom: -69px;
                left: 167px;
            }
        }
    }

    &__image {
        position: relative;
        top: 78px;
        width: 350px;

        @media (max-width: 960px) {
            top: 53px;
            width: 350px;
        }
    }

    &__statistics {
        position: absolute;
        padding: 20px 72px 19px 24px;
        background-color: colors.$white;
        border-radius: 15px;
        box-shadow: 0px 34px 54px rgba(6, 22, 141, 0.158854);

        @media (max-width: 960px) {
            padding: 16px 45px 16px 20px;
            border-radius: 10px;
        }

        &--left {
            bottom: 99px;
            left: -38%;
            @media (max-width: 960px) {
                bottom: -38px;
                left: -21%;
            }
        }

        &--right {
            right: -23.6%;
            top: -14px;
            padding-right: 20px;
        }
    }

    &__statistics-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.75;
        margin-bottom: 2px;

        @media (max-width: 960px) {
            font-size: 14px;
            line-height: 2;
            margin-bottom: 0;
        }
    }

    &__statistics-data {
        font-weight: 800;
        font-size: 40px;
        line-height: 1.25;
        color: colors.$quite-black;

        @media (max-width: 960px) {
            font-size: 32px;
            line-height: 1.25;
        }
    }

    &__title {
        font-size: 56px;
        line-height: 1.268;
        color: colors.$quite-black;
        width: 80%;
        margin-top: 49px;
        padding-bottom: 29px;
        letter-spacing: 0.006em;

        @media (max-width: 960px) {
            font-size: 40px;
            line-height: 1.25;
            width: 80%;
            padding-bottom: 26px;
        }

        @media (max-width: 480px) {
            font-size: 40px;
            line-height: 1.25;
            width: 100%;
            padding-bottom: 26px;
        }
    }

    &__description {
        width: 445px;
        padding-bottom: 40px;
        width: 60%;

        @media (max-width: 960px) {
            width: 95%;
            padding-bottom: 24px;
        }

        @media (max-width: 480px) {
            width: 100%;
        }
    }
}
